docs/flows_nodeRed.json
[
    {
        "id": "c7cb6282dd1f3eb1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7523ca97ee4cc09",
        "type": "mqtt in",
        "z": "c7cb6282dd1f3eb1",
        "name": "",
        "topic": "iot/ruang1/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d63321aa25dd2b05",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "2245f55c72320a0d",
                "50610c19d5cc96c2"
            ]
        ]
    },
    {
        "id": "2245f55c72320a0d",
        "type": "debug",
        "z": "c7cb6282dd1f3eb1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "50610c19d5cc96c2",
        "type": "influxdb out",
        "z": "c7cb6282dd1f3eb1",
        "influxdb": "eb696e6b37a372b7",
        "name": "DB",
        "measurement": "data_esp",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Akbar",
        "bucket": "TempNHum",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "d63321aa25dd2b05",
        "type": "mqtt-broker",
        "name": "localmqtt",
        "broker": "192.168.100.24",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eb696e6b37a372b7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "mqttLocal",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]